<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
<title>PES Times</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href= "{% static 'css/w3.css'%}">
<link rel="stylesheet" href="{% static 'css/up_for_sale.css' %}">
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<link rel="stylesheet" href="{% static 'css/welcomepage.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/bookexmain.css' %}">
<script src="{% static 'sweetalert2-master/dist/sweetalert2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'sweetalert2-master/dist/sweetalert2.min.css' %}">

<link rel="shortcut icon" href="{% static 'images/ico/favicon1.ico' %}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">



<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/toastr.js' %}"></script>
<script src="{% static 'js/up_for_sales.js' %}"></script>
<script src="{% static 'js/view_buyer.js' %}"></script>

<script>
function init()
{
	window.addEventListener("click",remove_modals);
}
function remove_modals(event)
{
	if(mod = document.getElementById("loginproblem"))
		mod.innerHTML = "";
	else if(mod1 = document.getElementById("userexists"))
		mod1.innerHTML = "";
	else if(mod2 = document.getElementById("emailsent"))
		mod2.innerHTML = "";
	else if(mod3 = document.getElementById("nouser"))
		mod3.innerHTML = "";
}
function check_fields()
{

	pass1 = document.getElementById("pass");
	pass2 = document.getElementById("confirmpass");
	passdontmatch = document.getElementById("passdontmatch");
	
	if(pass1.value != pass2.value)
	{
		pass1.value = "";
		pass2.value = "";
		passdontmatch.innerHTML = "Passwords Don't Match. Please Enter Again";
		return false;
	}
	return true;
}
</script>
</head>

<body onload="init()" data-spy="scroll" data-target="#navbar" data-offset="0" >
<header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-inverse" style="background-color:#F5F5F5;border:white;">
                <div class="navbar-header">
                    
                  
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li onclick="location.href='/welcomepage/newsfeed';"><a style="cursor:pointer;" onmouseover="this.style.color='#999'">Home</a></li>
						<li  class="dropdown"><a style="cursor:pointer;"  onmouseover="this.style.color='#999'" class="dropdown-toggle" data-toggle="dropdown">Clubs<span class="caret"></span></a>
							<ul class="dropdown-menu">
							{% for club in clubs%}
								<li onclick="location.href='/club/?club_id={{club.club_id}}';"><a style="cursor:pointer;" >{{club.club_name}}</a></li>
							{%endfor%}
							</ul>
						</li>
						<li onclick="location.href='/bookexchange';"><a style="cursor:pointer;" onmouseover="this.style.color='#999'">Book Exchange</a></li>
						<li><a onmouseover="this.style.color='#999'" href="#contact">Contact</a></li>
						{%if CLUBID%}
						<li onclick="location.href='/tester/{{CLUBID}}';"><a style="cursor:pointer;" onmouseover="this.style.color='#999'">Manage Events</a></li>
						{%endif%}
						{%if LOGGED.name%}
						<li class = "lead" style="position:absolute; left: 600px ; top:15px">Hello {{LOGGED.name}}!</li>
						<form name="logoutform" action="/welcomepage/newsfeed" method="POST">{% csrf_token %}
						<li><button name="logout" value="logout" style="position:absolute; left:900px" class="btn btn-primary btn-lg">Logout</button></li>
						</form>
						{%else%}
						<li><button style="position:absolute; left:550px" id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">Login </button></li>
						<li><button style="position:absolute; left:650px" id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup-modal">Sign Up</button></li>
						{%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->
	
{%if PROBLEM_LOGGING%}
<div id="loginproblem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		<h2 class="modal-title" id="myModalLabel">There was a problem with your username or password</h2>
      		</div>
		</div>
	</div>	
</div>
{%endif%}

{%if INTEGRITY_ERROR%}
<div id="userexists" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		<h2 class="modal-title" id="myModalLabel">There was a problem signing you up. You may already have an account.</h2>
      		</div>
  		</div>
	</div>
</div>
{%endif%}

{%if MAIL_SENT%}
<div id="emailsent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		<h2 class="modal-title" id="myModalLabel">An email was sent to your account with your password</h2>
      		</div>
      	</div>
    </div>
</div>
{%endif%}

{%if NO_USER%}
<div id="nouser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		<h2 class="modal-title" id="myModalLabel">NO SUCH USER</h2>
      		</div>
		</div>
    </div>
</div>
{%endif%}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		
        		<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
      		</div>
      		<div class="modal-body login-modal">
      			<div class="clearfix"></div>
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
						<form action="" name="loginform" method="POST">{% csrf_token %}
						
						<div class="form-group">
		              		<input type="text" id="usn" name="usn" placeholder="Enter your USN" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
		            	</div>
		
		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" name="password" placeholder="Password" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
		            	</div>
						
		            	<input type="submit" value="Login" class="btn btn-success modal-login-btn"/>
		            	
						</form>
						<input type="button" value="Lost your password?" data-toggle="modal" data-target="#lostpwd-modal"/>
						
					</div>
	        	
	        	</div>																												
        		<div class="clearfix"></div>
        		
					
        		</div>
      		</div>
      		<div class="clearfix"></div>
      		</div>
</div>

<div class="modal fade" id="lostpwd-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		
        		<h2 class="modal-title" id="myModalLabel">Give us your USN and we shall email you your password</h2>
      		</div>
      		<div class="modal-body login-modal">
      			<div class="clearfix"></div>
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
						<form action="" name="lostpwd" method="POST">{% csrf_token %}
						
						<div class="form-group">
							<input type="text"  name="userusn" placeholder="Enter your USN" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
		            	</div>
	
		            	<input type="submit" value="Submit" class="btn btn-success modal-login-btn"/>
		            	
						</form>						
					</div>
	        	
	        	</div>																												
        		<div class="clearfix"></div>
		
        		</div>
      		</div>
      		<div class="clearfix"></div>
      		</div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		
        		<h2 class="modal-title" id="myModalLabel">Sign Up</h2>
      		</div>
      		<div class="modal-body login-modal">
      			<div class="clearfix"></div>
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
	        			<form action="" name="signupform" onsubmit="return check_fields()" method="POST">{% csrf_token %}
						<div class="form-group">
		              		<input type="text" id="username" name="username" placeholder="Enter your name" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
							<input type="text" id="usn" name="usn" placeholder="Enter your usn" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
							<input type="email" id="emailid" name="email" placeholder="Enter your email id" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
							<input type="text" id="dob" name="dob" value="" placeholder="Enter DOB in YYYY-MM-DD format" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
							<input type="tel" id="phone" name="mobile" placeholder="Enter mobile number" value="" class="form-control login-field">
							<i class="fa fa-user login-field-icon"></i>
							<select id="dept" name="dept" class="form-control login-field">
								<option value = "">--Select Your Department--</option>
								<option value = "eee">Electrical and Electronics Engineering</option>
								<option value = "cse">Computer Science and Engineering</option>
								<option value = "civil">Civil Engineering</option>
								<option value = "ece">Electronics and Communication Engineering</option>
								<option value = "ise">Information Science Engineering</option>
								<option value = "me">Mechanical Engineering</option>
								<option value = "bt">Biotechnology Engineering</option>
								<option value = "te">Telecommunication Engineering</option>
							</select>
							<i class="fa fa-user login-field-icon"></i>
							<select id="sem" name="sem" class="form-control login-field">
								<option value = "0">--Select your Semester--</option>
								<option value = "1">I</option>
								<option value = "2">II</option>
								<option value = "3">III</option>
								<option value = "4">IV</option>
								<option value = "5">V</option>
								<option value = "6">VI</option>
								<option value = "7">VII</option>
								<option value = "8">VIII</option>
							</select>
							<i class="fa fa-user login-field-icon"></i>
						</div>
						<div class="form-group">
		            	  	<input type="password" name="password1" id="pass" placeholder="Password" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
							<input type="password" name="password2" id="confirmpass" placeholder="Confirm Password" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
							
							<label id="passdontmatch" class="form-control login-field"></label>
							
						</div>
						<input type="submit" value="Sign Up" class="btn btn-success modal-login-btn"/>
						</form>
						
	        		</div>
	        	</div>																												
        		<div class="clearfix"></div>
      		</div>
      		<div class="clearfix"></div>
      		<div class="modal-footer login_modal_footer">
      		</div>
    	</div>
  	</div>
</div>

	<section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div id="main-slider1" class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1 id="main-slider1h1" >PES Times</h1>
                        <p id="main-slider1p" class="lead">A single web portal for all the events happening in PES</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div id="main-slider2" class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1 id="main-slider2h1" >Book Exchange</h1>
                        <p id="main-slider2p" class="lead">Check out our Book Exchange Forum and get all the books you need in a single click</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
		<div id="arrow1">
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a></div>
		<div id="arrow2">
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a></div>
    </section><!--/#main-slider-->
	
	
{% block content %}
{% endblock %}
<section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <h1>Contact</h1>
                        <address>
                                    <strong>Team Members</strong><br>
                                    Anirudh Manisha Mohit Nagasundar Navneet Neha<br>
									Niket Parikshit Prafful Rohan Romasha Sharath Smitha<br>
                                  
                        </address>
                                            
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
</section>
</body>
</html>