{% extends 'welcomepage/base.html' %}

{% block content %}

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    
                  
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/index/"><i class="icon-home"></i></a></li>
                        			<li><a href="#desc">Description</a></li>
                        			<li><a href="#info">Info</a></li>
                        			<li><a href="#comments">Comments</a></li>
                        			<li><a href="#contact">Contact</a></li>
						<li></li>
						<li></li>
						<li></li>
						<li><button style="position:absolute; left:300px" id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">Login</button></li>
						<li><button style="position:absolute; left:400px" id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup-modal">Sign Up</button></li>
		
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->
	
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		
        		<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
      		</div>
      		<div class="modal-body login-modal">
      			<div class="clearfix"></div>
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
	        			<div class="form-group">
		              		<input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
		            	</div>
		
		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
		            	</div>
		
		            	<a href="#" class="btn btn-success modal-login-btn">Login</a>
		            	<a href="#" class="login-link text-center">Lost your password?</a>
	        		</div>
	        	
	        	</div>																												
        		<div class="clearfix"></div>
        		
        		<div class="form-group modal-register-btn">
        			<a href="#" class="login-link text-center">New User? Please Register.</a>
        		</div>
      		</div>
      		<div class="clearfix"></div>
      		<div class="modal-footer login_modal_footer">
      		</div>
    	</div>
  	</div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
    	<div class="modal-content">
      		<div class="modal-header login_modal_header">
        		
        		<h2 class="modal-title" id="myModalLabel">Sign Up</h2>
      		</div>
      		<div class="modal-body login-modal">
      			<div class="clearfix"></div>
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
	        			<div class="form-group">
		              		<input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
							<input type="text" id="usn" placeholder="Enter your usn" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
							<input type="email" id="emailid" placeholder="Enter your email id" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
							<input type="tel" id="phone" placeholder="Enter mobile number" value="" class="form-control login-field">
							<i class="fa fa-user login-field-icon"></i>
							<input type="tel" id="phone" placeholder="Enter mobile number" value="" class="form-control login-field">
							<i class="fa fa-user login-field-icon" ></i>
							<select id="dept" class="form-control login-field">
								<option value = "">--Select Your Department--</option>
								<option value = "eee">Electrical and Electronics Engineering</option>
								<option value = "cse">Computer Science and Engineering</option>
								<option value = "civil">Civil Engineering</option>
								<option value = "ece">Electronics and Communication Engineering</option>
								<option value = "ise">Information Science Engineering</option>
								<option value = "me">Mechanical Engineering</option>
								<option value = "bt">Biotechnology Engineering</option>
								<option value = "te">Telecommunication Engineering</option>
							</select>
							<i class="fa fa-user login-field-icon"></i>
							<select id="sem" class="form-control login-field">
								<option value = "">--Select your Semester--</option>
								<option value = "one">I</option>
								<option value = "two">II</option>
								<option value = "three">III</option>
								<option value = "four">IV</option>
								<option value = "five">V</option>
								<option value = "six">VI</option>
								<option value = "seven">VII</option>
								<option value = "eight">VIII</option>
							</select>
							<i class="fa fa-user login-field-icon"></i>
						</div>
						
		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
							<input type="password" id="comfirm-login-pass" placeholder="Confirm Password" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
						</div>
						
		            	<a href="#" class="btn btn-success modal-login-btn">Login</a>
		            	<a href="#" class="login-link text-center">Lost your password?</a>
	        		</div>
	        	
	        	</div>																												
        		<div class="clearfix"></div>
        		
        		<div class="form-group modal-register-btn">
        			<a href="#" class="login-link text-center">New User? Please Register.</a>
        		</div>
      		</div>
      		<div class="clearfix"></div>
      		<div class="modal-footer login_modal_footer">
      		</div>
    	</div>
  	</div>
</div>

	
	
    <section id="main-slider" class="carousel" >
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                    
                    </div>
                </div>
            </div><!--/.item-->
           
        </div><!--/.carousel-inner-->
        <!---<a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>-->
    </section><!--/#main-slider-->

    <section id="desc">
	 <!-- Page Content -->
	<div class="container"><div class="box">
	
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                 <div class="center gap">
                    <h2>Description</h2>
                    
                </div><!--/.center-->
            </div>
        </div>
        <!-- /.row -->

		
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
               
            </div>
            <div class="col-md-5">
            
   
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                
            </div>
        </div>
		</div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->
	</section>
	
	
    <section id="info">
        <div class="container">
            <div class="box">
                    <center><h2>Info</h2></center>
                                <center>
                                {%for event in events %}
                                	
                             	DATE : {{ event.event_date }}<br>
                              	VENUE : {{ event.venue }}<br>
                              	No. of Participants : {{ event.no_part}}<br>
                              	Contact : {{ event.contact_info}}
                        	
                         {%endfor%}<br><br><br><br>
                                <a class="btn btn-primary btn-lg" href="#">Register</a></center> 	
            </div>
        </div><hr>
    </section>
    
    
<section id="comments">
        <div class="container">
            <div class="box">
                    <center><h2>Comments</h2></center>
                               <textarea name="comment" cols="100" rows="10" ... ></textarea>
                               <a class="btn btn-primary btn-lg" href="#">Comment</a>
            </div>
        </div><hr>
    </section>


	<section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <h1>Contact</h1>
                        <address>
                                    <strong>Team Members</strong><br>
                                    Anirudh Manisha Mohit Nagasundar Navneet Neha<br>
									Niket Parikshit Prafful Rohan Romasha Sharath Smitha<br>
                                  
                        </address>
                                            
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <img class="pull-right" src="images/shapebootstrap.png" alt="ShapeBootstrap" title="ShapeBootstrap">
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    
</body>
</html>

{% endblock %}