{% extends 'welcomepage/base.html' %}
{% block content %}
    
<section id="main-slider" style="background-image:url(../../static/images/slider-bg.jpg);" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>PES Times</h1>
                        <p class="lead">A single web portal for all the events happening in PES</p>
                    </div>
                </div>
            </div><!--/.item-->
            
        </div><!--/.carousel-inner-->
     
    </section><!--/#main-slider-->

    <section id="desc">
     <!-- Page Content -->
    <div class="container"><div class="box">
    
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                 <div class="center gap">
                    {% if event %}
                        <h2>Description</h2>
                        <p>{{event.event_desc}}</p>
                    {% endif %}
                </div><!--/.center-->
            </div>
        </div>
        <!-- /.row -->

    </div>    
      </div>
    </section>
    
    
    <section id="info">
        <div class="container">
            <div class="box">
                    <center>
                        <h2>Info</h2>
                    </center>
                    <center>
                        {%if event%}
                            
                        DATE : {{ event.event_date }}<br>
                        VENUE : {{ event.venue }}<br>
                        No. of Participants : {{ event.no_part}}<br>
                        Contact : {{ event.contact_info}}
                    
                        {%endif%}
                        <br><br><br><br>
                        
                        <script type="text/javascript">
                            function register()
                            {
                                if({{isLoggedIn}})
                                {
                                    var xhttp = new XMLHttpRequest();
                                    xhttp.onreadystatechange = function() 
                                    {
                                        if (xhttp.readyState == 4 && xhttp.status == 200)
                                        {
                                            alert(xhttp.responseText);
                                            var btn_register = document.getElementById("register");
                                            btn_register.style.display = "none";
                                        } 
                                            
                                    };
                                    xhttp.open("POST","http://localhost:8000/welcomepage/onetaplogin/",true);
                                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                                    xhttp.send("eventid={{event.event_id}}&clubid={{event.club_id}}");
                                }  
                                else
                                {                              
                                    window.alert("Please log in to continue");
                                }
                            }
                        </script>
                        
                        <a id="register" class="btn btn-primary btn-lg" href="#info" onclick="register()">Register</a>
                    </center>   
            </div>
        </div><hr>
    </section>
    
    
<section id="comments">
        <div class="container">
            <div class="box">
                <center><h2>Comments</h2></center>
                <div style="background-color: #D3D3D3" id="comment_box">
                {% if comment_list %}
                    {% for each in comment_list %}
                    <strong><h4>{{each|get_item_value:"name"}} {{each.comments.creat_date}}</h4></strong>
                    <p>{{each.comments.comment}}</p>
                    {%endfor%}
                {%endif%}
                </div>
                <script type="text/javascript">
                    function add_comment()
                    {
                        if({{isLoggedIn}})
                        {
                            //AJAX call
                            var xhttp = new XMLHttpRequest();
                            xhttp.onreadystatechange = function() 
                            {
                                var textbox = document.getElementById("comment_text")
                                comment = textbox.value;                                
                                if (xhttp.readyState == 4 && xhttp.status == 200)
                                {
                                    alert("Comment successfully added!");
                                    //Code to add new node
                                    var comment_box = document.getElementById("comment_box");
                                    var new_header = document.createElement("H4");
                                    var x = new Date();
                                    var ampm = x.getHours() >= 12 ? 'pm' : 'am';
                                    var monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"];
                                    var datetime = monthNames[x.getMonth()] + " " + x.getDate() + "," + x.getFullYear() + ", " + x.getHours() + ":" + x.getMinutes() + " " + ampm;
                                    new_header.innerHTML = xhttp.responseText + " " + datetime;
                                    var new_comment = document.createTextNode(comment);
                                    comment_box.appendChild(new_header);
                                    comment_box.appendChild(new_comment);
                                    para = document.createElement("P");
                                    para.style.backgroundColor="#FFFFFF"
                                    comment_box.appendChild(para);
                                    textbox.value = ""      
                                } 
                                    
                            };
                            xhttp.open("POST","http://localhost:8000/welcomepage/add_comments/",true);
                            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                            xhttp.send("eventid={{event.event_id}}&comment="+comment);                            
                        }
                        else
                        {
                            window.alert("Please login to comment");
                        }
                    }

                </script>
                <textarea id="comment_text" name="comment" cols="80" rows="3" ... ></textarea>
                <a class="btn btn-primary btn-lg"  onclick="add_comment()" href="#comments">Comment</a>
            </div>
        </div>
        <hr>
    </section>

{% endblock %}