{% extends 'welcomepage/base.html' %}

{% block content %}
	
	
    <section id="main-slider" style="background-image:url(../../static/images/slider-bg.jpg);" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>PES Times</h1>
                        <p class="lead">A single web portal for all the events happening in PES</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Book Exchange</h1>
                        <p class="lead">Check out our Book Exchange Forum and get all the books you need in a single click</p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->

	
    <section id="events">
	 <!-- Page Content -->
	<div class="container"><div class="box">
	
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                 <div class="center gap">
                    <h2>Events</h2>
                    <p class="lead">Here are a few events in PES</p>
                </div><!--/.center-->
            </div>
        </div>
        <!-- /.row -->

		{%for event in events%}        
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x300" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{event.event_name}}</h3>
                <h6>{{event.event_date}} {{event.venue}}</h6>
                <p>{{event.event_desc}}</p>
                <a class="btn btn-primary" href="event?event_id={{event.event_id}}">View Event<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
        <hr>
		{%endfor%}
        
        </div>
		</div>
        <!-- /.row -->

        <hr>
    </div>
    <!-- /.container -->
	</section>
	
	<section id="clubs">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>Clubs</h2>
                    <p class="lead">Here are a few clubs in PES</p>
                </div><!--/.center-->
				
                <ul class="portfolio-items col-4">
					{% for club in clubs%}
                    <li class="portfolio-item apps">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <img src="images/portfolio/thumb/item1.jpg" alt="">
                                <div class="overlay">
                                    <a href="/club/?club_id={{club.club_id}}" title="Lorem ipsum dolor sit amet"><i class="icon-eye-open"></i></a>             
                                </div>
                            </div>
                            <h5>{{club.club_name}}</h5>
							<h6>{{club.objective}}</h6>
                        </div>
                    </li><!--/.portfolio-item-->
                    {%endfor%}
					
					
                </ul>   
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#portfolio-->
	
<script>
init_book()
</script>
{% endblock %}