{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Managment</title>
	<style type="text/css">
	table 
	{
    	border-collapse: collapse;
    	width: 100%;
	}

	th, td 
	{
	    border-bottom: 1px solid #ddd;
	    padding: 15px;
	    text-align: center;
	}
	th {
    background-color: #4CAF50;
    color: white;
	}
	tr:hover {background-color: #f5f5f5}
	</style>
	<script type="text/javascript">
		function init()
		{

			box = document.getElementById('id_rows');
			stuff = document.getElementById('data_storage');
			stuff.style.visibility="hidden";
		}

		function deli(event)
		{
			l=document.getElementsByName('check_delete');
			tb=document.getElementById('show_table')
			str = "";
			for(var i in l)
			{
				var x=l[i];
				if(x.checked)
					str = i + "," + str;
			}
			box.value = str;
		}
	</script>
</head>
<body background="{% static "college1.jpg" %}" onload = "init()">
<h1 style="color: #c7b8ff;" id = "heading"><b><i><u>Event : {{ name }}</u></i></b></h1>
<div style="overflow-x:auto;overflow-y:auto;">
<table id = "show_table">
<tr>
	<th>  </th>
	<th> Name </th>
	<th> Email </th>
	<th> Phone No </th>
	<th> Branch </th>
	<th> Sem </th>
</tr>
{% for p in form %}
       <tr>
        <td><input type="checkbox" name="check_delete"></td>
        <td>{{p.name}}</td>
        <td>{{p.email}}</td>
        <td>{{p.phone_no}}</td>
        <td>{{p.branch}}</td>
        <td>{{p.sem}}</td>
        </tr>
{% endfor %}
</table>
</div>
<form method="POST" action="">{% csrf_token %}
<div id="data_storage">{{ check.as_p }}</div>
<input type = 'submit' value="Delete Entries" onclick = "deli()"></input>
</form> 
</body>
</html>

