{% load staticfiles %}
<html>
<head>
	<meta name="viewport" content="width=device-width,initial scale=1">

	<link rel="stylesheet" href= "{% static 'css/w3.css'%}">
	<link rel="stylesheet" href="{% static 'css/up_for_sale.css' %}">
	<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
	<link rel="stylesheet" href="{% static 'css/bookexmain.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<script type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}"></script>


	<script type="text/javascript" src="{% static 'js/toastr.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/up_for_sale.js' %}"></script>
	<link rel="shortcut icon" href="{% static 'images/ico/favicon.ico' %}">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
	<link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">

	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
	<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


</head>

<body data-spy="scroll" data-target="#navbar" data-offset="0">
	<header id="header" role="banner">
		<div class="container">
			<div id="navbar" class="navbar navbar-default">
				<div class="navbar-header">


				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/welcomepage/newsfeed"><i class="icon-home"></i></a></li>
						<li><a href="upload_book">Upload Book</a></li>
						<li><a href="/bookexchange">View Books</a></li>
						<li><a href="#">View Interested Buyers</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><button style="position:absolute; left:280px" id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login-modal">Login</button></li>
						<li><button style="position:absolute; left:360px" id='modal-launcher' class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup-modal">Sign Up</button></li>

					</ul>
				</div>
			</div>
		</div>
	</header><!--/#header-->
	
	<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
			<div class="modal-content">
				<div class="modal-header login_modal_header">

					<h2 class="modal-title" id="myModalLabel">Login to Your Account</h2>
				</div>
				<div class="modal-body login-modal">
					<div class="clearfix"></div>
					<div id='social-icons-conatainer'>
						<div class='modal-body-left'>
							<div class="form-group">
								<input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
								<i class="fa fa-user login-field-icon"></i>
							</div>

							<div class="form-group">
								<input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
								<i class="fa fa-lock login-field-icon"></i>
							</div>

							<a href="#" class="btn btn-success modal-login-btn">Login</a>
							<a href="#" class="login-link text-center">Lost your password?</a>
						</div>

					</div>																												
					<div class="clearfix"></div>

					<div class="form-group modal-register-btn">
						<a href="#" class="login-link text-center">New User? Please Register.</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer login_modal_footer">
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="position:absolute;top:100px;left:380px;">
			<div class="modal-content">
				<div class="modal-header login_modal_header">

					<h2 class="modal-title" id="myModalLabel">Sign Up</h2>
				</div>
				<div class="modal-body login-modal">
					<div class="clearfix"></div>
					<div id='social-icons-conatainer'>
						<div class='modal-body-left'>
							<div class="form-group">
								<input type="text" id="username" placeholder="Enter your name" value="" class="form-control login-field">
								<i class="fa fa-user login-field-icon"></i>
								<input type="text" id="usn" placeholder="Enter your usn" value="" class="form-control login-field">
								<i class="fa fa-user login-field-icon"></i>
								<input type="email" id="emailid" placeholder="Enter your email id" value="" class="form-control login-field">
								<i class="fa fa-user login-field-icon"></i>
								<input type="tel" id="phone" placeholder="Enter mobile number" value="" class="form-control login-field">
								<i class="fa fa-user login-field-icon"></i>
								<input type="tel" id="phone" placeholder="Enter mobile number" value="" class="form-control login-field">
								<i class="fa fa-user login-field-icon" ></i>
								<select id="dept" class="form-control login-field">
									<option value = "">--Select Your Department--</option>
									<option value = "eee">Electrical and Electronics Engineering</option>
									<option value = "cse">Computer Science and Engineering</option>
									<option value = "civil">Civil Engineering</option>
									<option value = "ece">Electronics and Communication Engineering</option>
									<option value = "ise">Information Science Engineering</option>
									<option value = "me">Mechanical Engineering</option>
									<option value = "bt">Biotechnology Engineering</option>
									<option value = "te">Telecommunication Engineering</option>
								</select>
								<i class="fa fa-user login-field-icon"></i>
								<select id="sem" class="form-control login-field">
									<option value = "">--Select your Semester--</option>
									<option value = "one">I</option>
									<option value = "two">II</option>
									<option value = "three">III</option>
									<option value = "four">IV</option>
									<option value = "five">V</option>
									<option value = "six">VI</option>
									<option value = "seven">VII</option>
									<option value = "eight">VIII</option>
								</select>
								<i class="fa fa-user login-field-icon"></i>
							</div>

							<div class="form-group">
								<input type="password" id="login-pass" placeholder="Password" value="" class="form-control login-field">
								<i class="fa fa-lock login-field-icon"></i>
								<input type="password" id="comfirm-login-pass" placeholder="Confirm Password" value="" class="form-control login-field">
								<i class="fa fa-lock login-field-icon"></i>
							</div>

							<a href="#" class="btn btn-success modal-login-btn">Login</a>
							<a href="#" class="login-link text-center">Lost your password?</a>
						</div>

					</div>																												
					<div class="clearfix"></div>

					<div class="form-group modal-register-btn">
						<a href="#" class="login-link text-center">New User? Please Register.</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="modal-footer login_modal_footer">
				</div>
			</div>
		</div>
	</div>

	<section id="main-slider" class="carousel" >
		<div class="carousel-inner">
			<div class="item active">
				<div class="container">
					<div class="carousel-content">


						<h1>BookExchange</h1>


						<p class="lead">Find and Exchange Books</p>



					</div>
				</div>
			</div><!--/.item-->

		</div><!--/.carousel-inner-->
        <!---<a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>-->
    </section><!--/#main-slider-->



    <div class="container"><div class="box">

    	<div class="w3-container" id="sale_table">
    		<div class="w3-indigo w3-container" id="search">
    			<input placeholder="Search"class="w3-input w3-light-grey" style="width:40%" type="text" id="searchbar"/>

    		</div>
    		<table class="w3-table w3-striped w3-bordered w3-card-4 w3-white" id="table">
    			<thead>
    				<tr class="w3-black">
    					<th>Seller Id</th>
    					<th>Book Name</th>
    					<th>Action</th>
    				</tr>
    			</thead>




    			{% for entry in data %}
    			<tr>
    				<td>{{entry.usn}}</td>
    				<td>{{entry.book_name}}</td>
    				<td><button class="w3-btn w3-ripple w3-green">Borrow</button></td>
    			</tr>
    			{% endfor %}
    		</table>
    	</div>
    </div>
</div>

<section id="contact">
	<div class="container">
		<div class="box last">
			<div class="row">
				<h1>Contact</h1>
				<address>
					<strong>Team Members</strong><br>
					Anirudh Manisha Mohit Nagasundar Navneet Neha<br>
					Niket Parikshit Prafful Rohan Romasha Sharath Smitha<br>

				</address>

			</div><!--/.row-->
		</div><!--/.box-->
	</div><!--/.container-->
</section><!--/#contact-->

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				&copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
			</div>
			<div class="col-sm-6">
				<img class="pull-right" src="images/shapebootstrap.png" alt="ShapeBootstrap" title="ShapeBootstrap">
			</div>
		</div>
	</div>
</footer><!--/#footer-->


<script>
init();
</script>

</body>
</html>