{% extends 'welcomepage/base.html' %}
{%block content%}
	
<script>
function apply_bg()
{
	slider = document.getElementById("main-slider");
	slider.style.backgroundImage = "url('../../static/library.jpg')";
	h1 = document.getElementById("main-slider2h1")
	h1.innerHTML = "Up For Sale"
	p = document.getElementById("main-slider2p")
	p.innerHTML = "Select the books you want to borrow";
    //*****************************lol****************************
}
apply_bg();
</script>

    <div class="container"><div class="box">
		
		{%if not LOGGED%}
		<label class="form-control login-field">You need to login to view books</label>
		
		{% else %}
		
		<button class="btn btn-primary btn-lg" onclick="location.href='/bookexchange/upload_book';">Upload A Book</button>
		<button class="btn btn-primary btn-lg" onclick="location.href='/bookexchange/view_buyers';">View Buyers</button>
		
    	<div class="w3-container" id="sale_table">
    		<div class="w3-indigo w3-container" id="search">
    			<input placeholder="Search"class="w3-input w3-light-grey" style="width:40%" type="text" id="searchbar"/>

    		</div>
    		<table class="w3-table w3-striped w3-bordered w3-card-4 w3-white" id="table">
    			<thead>
    				<tr class="w3-black">
    					<th>Seller Id</th>
    					<th>Book Name</th>
    					<th>Action</th>
    				</tr>
    			</thead>



    			
    			{% for entry in data %}
    			<tr>
    				<td>{{entry.usn}}</td>
    				<td>{{entry.book_name}}</td>
    				{% if entry.borrowed %}
    				<td><button class="w3-btn w3-ripple w3-green w3-small" disabled='True'>Borrow</button>
    					<button class="w3-btn w3-ripple w3-red w3-small">Cancel</button>
    				</td>
    				{% else %}
    				<td><button class="w3-btn w3-ripple w3-green w3-small">Borrow</button>
    					<button class="w3-btn w3-ripple w3-red w3-small" disabled='True'>Cancel</button>
    				</td>
    				{% endif %}
    			</tr>
    			{% endfor %}
    		
    		</table>
    		<div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page={{ data.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    	</div>
		{%endif%}
    </div>
</div>

<script>
init_book();
</script>
{%endblock%}