{% load staticfiles %}
<html>
	<head>
		<title>Upload Book</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href= "{% static 'css/w3.css'%}">
		<link rel="stylesheet" href="{% static 'css/upload_book.css' %}">
	</head>

	<body background="{% static 'unnamed.jpg' %}">
		<div class="w3-card-12 w3-white" id="upload_form">
		<div class="w3-container w3-brown">
  <h2>New Book</h2>
</div>
		<form method="POST" class="w3-container"> {% csrf_token %}
			{% for field in form %}
    <label class="w3-label w3-text-brown" for="{{ field.name }}"><b>{{ field.label }}</b></label>
    {{ field }}
    <br/>
{% endfor %}
			<button class="w3-btn w3-brown" type="submit" id="submit_button"> Submit </button>

		</form>
	</div>

	</body>
</html>