{% extends 'welcomepage/base.html' %}
{%block content%}
<script>
function apply_bg()
{
	slider = document.getElementById("main-slider");
	slider.style.backgroundImage = "url('../../static/library.jpg')";
	h1 = document.getElementById("main-slider2h1")
	h1.innerHTML = "Upload a book"
	p = document.getElementById("main-slider2p")
	p.innerHTML = "Upload any book you want to get rid of";
}
apply_bg();
</script>

    <div class="container"><div class="box">

    	<form method="POST" class="w3-container"> {% csrf_token %}
    		{% for field in form %}
    		<label class="w3-label w3-text-indigo" for="{{ field.name }}"><b>{{ field.label }}</b></label>
    		{{ field }}
    		<br/>
    		{% endfor %}
    		<button class="w3-btn w3-green" type="submit" id="submit_button"> Submit </button>

    	</form>
    </div>
</div>

<script>
init_book();
</script>
{%endblock%}