{% extends 'welcomepage/base.html' %}
{%block content%}

	<section id="main-slider" class="carousel" >
		<div class="carousel-inner">
			<div class="item active">
				<div class="container">
					<div class="carousel-content">


						<h1>BookExchange</h1>


						<p class="lead">Find and Exchange Books</p>



					</div>
				</div>
			</div><!--/.item-->

		</div><!--/.carousel-inner-->
        <!---<a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>-->
    </section><!--/#main-slider-->



    <div class="container"><div class="box">

    	<form method="POST" class="w3-container"> {% csrf_token %}
    		{% for field in form %}
    		<label class="w3-label w3-text-indigo" for="{{ field.name }}"><b>{{ field.label }}</b></label>
    		{{ field }}
    		<br/>
    		{% endfor %}
    		<button class="w3-btn w3-green" type="submit" id="submit_button"> Submit </button>

    	</form>
    </div>
</div>


<script>
init_book();
</script>

{%endblock%}