{%extends 'welcomepage/base.html' %}
{%block content%}
<script>
function apply_bg()
{
	slider = document.getElementById("main-slider");
	slider.style.backgroundImage = "url('../../static/library.jpg')";
	h1 = document.getElementById("main-slider2h1")
	h1.innerHTML = "Pending Buyers"
	p = document.getElementById("main-slider2p")
	p.innerHTML = "Select or reject these potential buyers";
}
apply_bg();
</script>

    <div class="container"><div class="box">

    	<div class="w3-container" id="">
			{%if not buyers%}
				<label  class="form-control login-field">You have no buyers</label>
			{%else%}
    		<ul class="w3-ul w3-card-4">
    			{% for buyer in buyers %}
    			<li class="w3-padding-16">
    				
    				<span onclick="removeBuyer(event.target)"
    				class="w3-closebtn w3-padding">&#x2717</span>
    				<span onclick="dealDone(event.target)"
    				class="w3-closebtn w3-padding">&#10004</span>
    				<span class="w3-xlarge">{{buyer.name}}</span><br>
    				<span>Dept: {{buyer.dept}}</span><br>
    				<span>Email: {{buyer.email}}</span><br>
    				<span>Phone: {{buyer.phone}}</span>
    				<h5> Interested in buying : {{buyer.book}} </h5>
    			</li>
    			{% endfor %}
    		</ul>
			{%endif%}
    	</div>
    </div>
</div>

{%endblock%}