{% extends 'welcomepage/base.html' %}
{%load staticfiles%}
{% block content %}
<script>
function apply_bg()
{
	slider = document.getElementById("main-slider");
	slider.style.backgroundImage = "url({% static 'pes3.jpg' %})";
	h1 = document.getElementById("main-slider2h1")
	h1.innerHTML = "Promote your event";
	p = document.getElementById("main-slider2p")
	p.innerHTML = "Try out our easy one click promotion";
}
apply_bg();
</script>    
<script>
	function send_hidden_form()
	{
		hid2 = document.getElementById('id_rows');
		hid2.value = "Try It";

		if (document.getElementById("ismForm")) {
            setTimeout("submitForm()", 5000); // set timout 
       }

        swal('Please Wait! The mails are being sent.')
	}

	function submitForm() { // submits form
        document.getElementById("ismForm").submit();
    }
</script>

<section id="click_prom">
	 <!-- Page Content -->
<div class="container"><div class="box">
        <!-- MY PART -->                       
	<div style = "text-align: center;margin-top: 10px">
	<form method="POST" id="ismForm" action="">{% csrf_token %}
	<div id="data_storage" style="display: none;">{{ hide.as_p }}</div>
	<input class="w3-btn w3-xxlarge w3-round-xxlarge w3-blue w3-hover-teal" value="Mail Push Notification" onclick="send_hidden_form()"></input>
	</form><br/><br/><br/>


	<div class="w3-tag w3-xxlarge w3-padding w3-round-large w3-red w3-center" style="padding:3px">
	<div class="w3-tag w3-xxlarge w3-padding w3-round-large w3-red w3-center w3-animate-zoom" style="border:1px solid white">
	Other Promotion Platforms</div></div><br/><br/>
	<a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>

	<a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>

	<a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>

	<a href="http://www.digg.com/submit?url=https://simplesharebuttons.com" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" /></a>

	 <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>

	<a href="http://reddit.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>
	    
	<a href="http://www.stumbleupon.com/submit?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" /></a>

	<a href="http://www.tumblr.com/share/link?url=https://simplesharebuttons.com&amp;title=Simple Share Buttons" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/tumblr.png" alt="Tumblr" /></a>
	</div>        
</div>
</div>

	</section>
	<br/>
	<br/>
   
{% endblock %}