{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Creation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{%static 'w3.css'%}">
	<script type="text/javascript">
		function styling()
		{
			//Auto Filling club and event_id , internally
			fill_eid = autofill();
			//alert(document.getElementById("lol").innerHTML);
			
			//Styling All labels
			labs = document.getElementsByTagName('label');		
			for(i in labs)
				labs[i].className = "w3-tag w3-xlarge w3-green w3-round";

			//Hiding field-missing errors for hidden club-id and styling uls
			eror = document.getElementsByTagName('ul');	
			for(i in eror)
				if (i == 0 && !eror[i].hasAttribute("id"))
					eror[i].style.display = "none";
				else
					eror[i].className = "w3-tag w3-orange w3-round w3-animate-opacity";

			//Styling seperate inputs seperately as types different and no other easier way
			input_texts = ['id_event_id','id_event_date','id_own_form','id_event_name','id_no_part','id_no_reg','id_venue','id_contact_info','id_event_desc'];
			req = ['id_requirements_0','id_requirements_1','id_requirements_2','id_requirements_3','id_requirements_4'];

			//Styling together as collection
			for(val in input_texts)
			{
				field = document.getElementById(input_texts[val]);
				if(input_texts[val] == 'id_event_date')
					field.placeholder = "YYYY-MM-DD";
				if(input_texts[val] == 'id_event_id')
					field.value = fill_eid;
				if(input_texts[val] == 'id_event_desc')
					field.placeholder = "FULL EVENT DESCRIPTION";
				if(input_texts[val] == 'id_contact_info')
					field.placeholder = "PERSON - CONTACT INFO";
				if(input_texts[val] == 'id_own_form')
					field.placeholder = "EXTERNAL FORM LINK";
				field.className = "w3-input w3-animate-input w3-hover-teal w3-text-blue";
				field.style.width = "150px";
			}

			//Styling all checkboxes
			for(val in req)
			{
				field = document.getElementById(req[val]);
				field.className = "w3-check";
			}

		}
		function autofill()
		{
			document.getElementsByTagName("p")[0].setAttribute("id", "hid_cid");
			document.getElementById("hid_cid").style.display = "none";
			ls = document.getElementsByTagName("h6")
			inp_cid = document.getElementById("id_club_id");
			inp_cid.value = ls[0].innerHTML

			return parseInt(ls[1].innerHTML);

		}
	</script>
</head>
<body class="w3-container" background="{% static "college_images/pes1.jpg" %}" onload="styling()">
<h1 class="w3-tag w3-xxlarge w3-padding w3-round-large w3-blue-grey w3-center w3-animate-zoom">Event Creation</h1>
<h6 style="display: none;">{{fill_cid}}</h6>
<h6 style="display: none;">{{fill_eid}}</h6>
<form class="w3-card-4 w3-animate-zoom" method="POST" action="">{% csrf_token %}
<div id="lol">{{ form.as_p }}</div>
<input class="w3-btn w3-xxlarge w3-round-xxlarge w3-pale-red w3-hover-teal" type = 'submit' value="Submit"></input><br/><br/>
</form>
</body>
</html>
