{% extends 'welcomepage/base.html' %}
{% load staticfiles %}
{% block content %}
<script>
function apply_bg()
{
	slider = document.getElementById("main-slider");
	slider.style.backgroundImage = "url('../../static/pes3.jpg')";
	h1 = document.getElementById("main-slider2h1");
	h1.innerHTML = "Hello Admin";
	p = document.getElementById("main-slider2p");
	p.innerHTML = "Welcome to the Admin Interface of PES Times";
}
apply_bg();
</script>    
<section id="main_admin">
<!-- Page Content -->
<div class="w3-container"><div class="box">
        <!-- MY PART -->                       
				<div style="text-align: center;margin-top: 50px">
				<a href="http://localhost:8000/tester/create/{{fill_cid}}" class="w3-btn w3-xxlarge w3-round-xxlarge w3-blue w3-hover-teal w3-animate-zoom">Event Creation</a><br><br><br>
				<a href="http://localhost:8000/tester/event/{{fill_cid}}" class="w3-btn w3-xxlarge w3-round-xxlarge w3-blue w3-hover-teal w3-animate-zoom">Event Management</a><br><br><br>
				<a href="http://localhost:8000/tester/promote/{{fill_cid}}" class="w3-btn w3-xxlarge w3-round-xxlarge w3-blue w3-hover-teal w3-animate-zoom">Event Promotion</a>
				</div>	
                <br/><br/>	        

</div>
</div>

</section>
<br/>
<br/>
  
{% endblock %}